<head>
    <title>Редактор</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body style='display: flex;align-items: center;'>
        <form class='container theory' style='width:60%; padding:20px;' method='post'>
            <label class='text' style='font-size:20px; margin-bottom:20px;'>Тема</label>
            <select class='box' name='theme' >
                <% files.forEach(function(file) { %>
                    <option value="<%= file.file %>" ><%= file.name %></option>
                <% }); %>
            </select>
            <button class='btn' style='margin-top:20px;' type='submit' value='' name='new'>Створити нову тему</button>
            <button class='btn' type='submit' value='' name='edit'>Редагувати тему</button>
            <button class='btn'  style='margin-bottom:0px;' type='submit' value='' name='delete'>Видалити тему</button>
        </form>
        </body>