<!DOCTYPE html>
<html>
<head>
    <title>Головна</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

    <form class='container' method='post'>
        <button class='btn' type="submit" name="category" value="theory">Теорія</button>
        <button class='btn' type="submit" name="category" value="calculator">Калькулятор</button>
    </form>
</body>
</html>